.rec-button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 59, 59);
  border-radius: 9999px;
  animation: fade 2s linear;
  transition: scale 0.5s ease;
  margin-bottom: 20px;
  margin-top: 35px;
  color: white;
  font-size: 20px;
}

.rec-button:hover {
  background-color: rgb(220 38 38);
  scale: 1.1;
}

.rec-button:active {
  background-color: rgb(185 28 28);
}

.rec-button-active {
  background-color: rgb(185 28 28);
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rec-text {
  color: white;
  font-weight: bold;
  font-size: 19px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 10px 18px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 10px 18px rgba(173, 0, 0, 0);
  }
}
